- if License.feature_available?(:incident_management)
  %section.settings.as-incident-management-alerts.no-animate#js-incident-management-settings{ class: ('expanded' if expanded_by_default?) }
    .settings-header
      %h4
        = _('Incident Management Limits')
      = render Pajamas::ButtonComponent.new(button_options: { class: 'js-settings-toggle' }) do
        = expanded_by_default? ? _('Collapse') : _('Expand')
      %p
        = _('Limit the number of inbound incident management alerts that can be sent to a project.')
        = link_to _('Learn more.'), help_page_path('administration/instance_limits.md', anchor: 'limit-inbound-incident-management-alerts'), target: '_blank', rel: 'noopener noreferrer'
    .settings-content
      = render 'network_incident_management'
